.btn:hover{
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
}

.btn{
    display: flex;
    justify-content: center;
    padding: 2%;
    border-radius: 25px;
    color: white;
}

.btn_header{
    padding: 5%;
}

.btn_blue:hover{
    color:#23b2a4;
    border-color: #23b2a4;
}
.btn_blue{
    background-color: #23b2a4;
}

.btn_red:hover{
    color:#e94e6d;
    border-color: #e94e6d;
}
.btn_red{
    background-color: #e94e6d;
}

.btn_submit{
    border-style: none;
    padding: 3%;
    border-width: 0px;
    width: 100%;
}

.btn_filter{

}
.bttn_add{
    
}
.btn_mobile{
    display: none;
}

@media screen and (max-device-width: 1024px) {
    .btn_mobile{
        display: flex;
    }
}
