/*-------------------FOOTER----------------*/

.footer{
    background-color: #000;
    padding: 7% 5% 7% 5%;
    display: flex;
    flex-flow: column;
}

.footer_section{
    display: flex;
}
.footer_section_element{
    display: flex;
    flex-flow: column;
    flex: 1;
    padding: 0% 1% 0% 1%;
}

.footer_logo_img{
    width: 70%;
    align-self: center;
    margin-bottom: 5%;
}

@media screen and (max-device-width: 500px) {
    .footer_section{
        flex-flow: column;
    }

    .footer_section_element{
        padding: 2%;
    }
}
