/*------------------FILTER----------------*/
.filter{
    background-color: #23b2a4;
}
/*------------------ADD PROFIL----------------*/
.add{
    background-color: #e94e6d;
}
/*------------------CONTACT----------------*/
.contact{
    display: flex;
    flex-flow: column;
}


/*------------------FORM----------------*/
.form{
    display: flex;
    flex-flow: column;
    padding: 5% 20% 0% 20%;
}

.form_element{
    padding: 5%;
}
.form_element_row{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.form_select{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}
.form_select_element{
    margin: 0% 5% 5% 0%;
    margin-right: 5%;
    text-align: left;
}


.form_check{
    display: flex;
    flex-flow: column;
}
.form_check_options{
    display: flex;
    flex-flow: wrap;
}
.form_check_title{
    display: flex;
    justify-content: space-between;
}
.form_check_title_text{
    flex: 7;
}
.form_check_title_btn{
    flex: 1;
    visibility: hidden;
}

.option{
    margin-right: 5%;
}

/*------------------UPDATE----------------*/
.update{
    padding: 0% 20% 0% 20%;
}

@media screen and (max-device-width: 900px) {
    .form_element_row{
        flex-flow: column;
    }
    .form_check_options{
        display: none;
    }
    .form_check_title_btn{
        visibility: visible;
    }

}

@media screen and (max-device-width: 500px) {
    .form{
        padding: 5% 10% 0% 10%;
    }
}


/*input*/
input,textarea,select{
    background-color: transparent;
    border-width: 0px;
    border-bottom-width: 3px;
}

textarea{
    box-sizing: border-box;
    width: 100%;
}

textarea, input{
    font-size: 1.8rem;
}

input,textarea,select,label{
    color: #fff;
    border-color: #fff;
}

option{
    background-color: transparent;
    color: #000;
}

/*select*/
.update select{
    color: #000;
    border-color: #000;
}

/*checkbox*/
.update label{
    color: #000;
    border-color: #000;
}

/*textarea*/
.update textarea{
    color: #000;
    border-color: #000;
}

/*input*/
.update input{
    color: #000;
    border-color: #000;
}
/*.update textarea,input {
    font-size: 2rem;
}
.update input,textarea,select,label {
    color: black;
    border-color: black;
}*/

[type="checkbox"] {
    box-shadow: none;
    border-radius: 25px;
    border-color: white;
    background-color: transparent;
}
