/*------------------FILTER----------------*/
.filter{
    background-color: #23b2a4;
}
/*------------------ADD PROFIL----------------*/
.add{
    background-color: #e94e6d;
}
/*------------------CONTACT----------------*/
.contact{
    display: flex;
    flex-flow: column;
}

/*------------------FORM----------------*/
.form{
    display: flex;
    flex-flow: column;
}
.form_element{
    flex: 1;
    padding: 2%;
}
.form_element_row{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
.form_element_column{
    display: flex;
    flex-flow: column;
}
.form_element_options{
    display: flex;
    flex-flow: wrap;
}
.form_element_title{
    display: flex;
    justify-content: space-between;
}
.form_element_title_text{
    flex: 7;
}
.form_element_title_btn{
    flex: 1;
    visibility: hidden;
}

.option{
    margin-right: 5%;
}
.option_checkbox{
    background-color: #fff;
}
.option_label{

}

@media screen and (max-device-width: 900px) {
    .form_element_check{

    }
    .form_element_row{
        flex-flow: column;
    }
    .form_element_options{
        display: none;
    }
    .form_element_title_btn{
        visibility: visible;
    }
}
