/*-------------------FLAP STORE----------------*/
.flap_store{
    display: flex;
    align-content: center;
}

.flap_store_element{
    flex: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 70vh;
    display: flex;
}
.flap_store_element_content{
    background :radial-gradient(ellipse at center,rgba(0,0,0,.3) 0,transparent 75%,transparent 100%);
    align-self: center;
    padding: 5%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.flap_store_element_logo{
    width: 80%;
}
.flap_store_element_title{
    margin-top: 5%;
}
.flap_store_element_description{
    display: none;
}


/*background*/
.flap_store_element_ingesup{
    background-image: url("../img/background_flap_ingesup.jpg");
}
.flap_store_element_audiovisuel{
    background-image: url("../img/background_flap_audiovisuel.jpg");
}
.flap_store_element_business{
    background-image: url("../img/background_flap_business.jpg");
}
.flap_store_element_jeuxvideo{
    background-image: url("../img/background_flap_jeuxvideo.jpg");
}
.flap_store_element_web{
    background-image: url("../img/background_flap_web.jpg");
}
/*hover*/
.flap_store_element:hover{
    background-color: white;
    background-image: none;
    padding: 5%;
}
.flap_store_element:hover > .flap_store_element_content{
    align-self: auto;
    background: transparent;
    width: 100%;
}
.flap_store_element:hover .flap_store_element_logo{
    display: none;
}
.flap_store_element:hover .flap_store_element_description{
    display: flex;
    flex-flow: column;
    margin-top: 10%;
}


@media screen and (max-device-width: 1024px) {
    .flap_store{
        flex-flow: column;
    }

    .flap_store_element{
        height: 40vh;
        justify-content: center;
    }
    .flap_store_element_logo{
        width: 100%;
    }
}

/*------------------VISUAL----------------*/
.section_visual{
    background-image: url("../img/background_contacter.jpg");
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    height: 70vh;
    display: flex;
}

.section_visual_rect{
    background-color: #fff;
    height: 50vh;
    width: 40%;
    align-self: center;
}

@media screen and (max-device-width: 1024px) {
    .section_visual{
        justify-content: center;
        height: 50vh;
    }

    .section_visual_rect{
        width: 100%;
        height: 25vh;
        align-self: flex-end;
    }
}

/*------------------RESULTS----------------*/
.results{
    background-color: #ededed;
}

.results_list{
    background-color: #fff;
}

.result{
    display: flex;
    padding: 5% 2% 5% 2%;
}
.result_element{
    flex: 1;
    align-self: center;
}
.result_element_2{
    flex: 2;
}

@media screen and (max-device-width: 900px) {
    .result{
        flex-flow: column;
    }
    .result_element.icon{
        align-self: center;
    }
}
