*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #ffff;
}

html{
    font-size: 62.5%;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

.padding_side{
    padding: 0% 10% 0% 10%;
}
.margin_section{
    margin: 7% 0% 0% 0%;
}
/*-------------------TEXT----------------*/
/*page*/
.text_page{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #000;
    font-size: 18px;
    font-size: 1.8rem;
    text-align: center;
}
.text_page_right{
    text-align: right;
}

.text_page_small{
    font-size: 12px;
    font-size: 1.2px;
}

p{
    margin-bottom: 1%;
}
a{
    color: inherit;
    text-decoration: inherit;
}
hr{
    color: inherit;
    background-color: #fff;
}

/*font*/
.text_font_Light{
    font-weight: 300;
}
.text_font_bold{
    font-weight: 700;
}

.text_font_black{
    font-weight: 900;
}

/*title*/
.text_h{
    color: #e94e6d;
    font-weight: 700;
}
.text_h_blue{
    color: #23b2a4;
}
.text_h_grey{

}

.text_h1{
    font-size: 36px;
    font-size: 3.6rem;
    margin-bottom: 3%;
}

.text_h2{
    font-size: 30px;
    font-size: 3rem;
    margin-bottom: 2%;
}

.text_h2_small{
    font-size: 20px;
    font-size: 2rem;
}

.text_h3{
    font-size: 22px;
    font-size: 2.2rem;
}

/*header-footer*/
.text_headfoot{
    color: #fff;
    font-size: 16px;
    font-size: 1.6rem;
}


/*header*/
.text_header_title{
    font-size: 20px;
    font-size: 2rem;
}


/*footer*/
.text_footer_title{
    font-size: 25px;
    font-size: 2.5rem;
}

/*button*/
.text_btn{
    color: #ffff;
    font-size:12px;
    font-size: 1.2rem;
}

/*-------------------HEADER----------------*/
.header{
    height: 70vh;
    background-image: url("../img/background_recruter.jpg");
    background-size: cover;
}

/*ahead*/
.header_ahead{
    display: flex;
    background: linear-gradient(to top,transparent 0,rgba(0,0,0,.6) 100%);
    background-size: cover;
}
.header_ahead_element{
    display: flex;
    align-self: flex-start;
    height: 15vh;
}

/*menu*/
.header_ahead_menu{
    flex-flow: row wrap;
    flex: 7;
    padding: 0% 3% 0% 3%;
}
.header_ahead_menu_element{
    flex: 1;
    list-style: none;
    display: inline-flex;
    justify-content: center;
}
.header_ahead_menu_title{
    padding-bottom: 1em;
    margin: auto 15px;
}

/*img*/
.header_ahead_logo{
    flex: 1;
}

.header_ahead_logo_img{
    width: 100%;
    align-self: center;
}


/*-------------------MAIN----------------*/
.flap_store{
    display: flex;
    height: 70vh;
    align-content: center;
}

.flap_store_element{
    flex: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    display: flex;
}
.flap_store_element_content{
    background :radial-gradient(ellipse at center,rgba(0,0,0,.3) 0,transparent 75%,transparent 100%);
    align-self: center;
    padding: 5%;
}

.flap_store_element_logo{
    width: 80%;
}
.flap_store_element_title{
    margin-top: 5%;
}

/*background*/
.flap_store_element_ingesup{
    background-image: url("../img/background_flap_ingesup.jpg");
}
.flap_store_element_audiovisuel{
    background-image: url("../img/background_flap_audiovisuel.jpg");
}
.flap_store_element_business{
    background-image: url("../img/background_flap_business.jpg");
}
.flap_store_element_jeuxvideo{
    background-image: url("../img/background_flap_jeuxvideo.jpg");
}
.flap_store_element_web{
    background-image: url("../img/background_flap_web.jpg");
}

.section_visual{
    background-image: url("../img/background_contacter.jpg");
    background-size: cover;
    height: 70vh;
    display: flex;
}

.section_visual_rect{
    background-color: #fff;
    height: 50vh;
    width: 40%;
    align-self: center;
}


/*-------------------FOOTER----------------*/

.footer{
    background-color: #000;
    padding: 7% 5% 7% 5%;
    display: flex;
    flex-flow: column;
}

.footer_section{
    display: flex;
}
.footer_section_element{
    display: flex;
    flex-flow: column;
    flex: 1;
    padding: 0% 1% 0% 1%;
}

.footer_logo_img{
    width: 70%;
    align-self: center;
    margin-bottom: 5%;
}
