/*-------------------TEXT----------------*/
@import url('text.css');
/*-------------------HEADER----------------*/
@import url('header.css');
/*-------------------MAIN----------------*/
@import url('main.css');
/*-------------------FORM----------------*/
@import url('form.css');
/*-------------------FOOTER----------------*/
@import url('footer.css');
/*-------------------BUTTON----------------*/
@import url('button.css');
/*-------------------ICON----------------*/
@import url('icon.css');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #ffff;
    font-size: 1em;
}

html{
    font-size: 62.5%;
}

.padding_side{
    padding: 0% 10% 0% 10%;
}
.margin_section{
    margin: 7% 0% 0% 0%;
}

@media screen and (max-device-width: 500px) {
    .padding_side{
        padding: 0% 5% 0% 5%;
    }

    .margin_section{
        margin: 12% 0% 0% 0%;
    }
}

.hide {
    display: none;
}
