@import url('https://fonts.googleapis.com/css?family=Montserrat');
/*-------------------TEXT----------------*/
/*page*/
.text_page{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #000;
    font-size: 1.8rem;
    text-align: center;
}
.text_page_right{
    text-align: right;
}
.text_page_left{
    text-align: left;
}

.text_page_small{
    font-size: 1.2rem;
}

p{
    margin-bottom: 1%;
}


a{
    color: inherit;
    text-decoration: inherit;
    font-size: 1.6rem;
}

button{
    font-size: 1.6rem;
}

hr{
    color: inherit;
    background-color: #fff;
}

/*font*/
.text_font_Light{
    font-weight: 300;
}
.text_font_bold{
    font-weight: 700;
}

.text_font_black{
    font-weight: 900;
}

/*title*/
.text_h{
    color: #e94e6d;
    font-weight: 700;
}

h1{
    font-size: 3.6rem;
    margin-bottom: 3%;
}
h2{
    font-size: 3rem;
    margin-bottom: 2%;
}
h3{
    font-size: 2.2rem;
    margin-bottom: 1%;

}
h4{
    font-size: 1.8rem;
}

.flap_store_element_title h3{
    color: #23b2a4;
}
.result h3{
    color: #e94e6d;
}
.markdown h2{
    margin: 7% 0% 2% 0%;
}
.form h2{
    color: #fff;
}
.form h4{
    color: #fff;
    margin-bottom: 1%;
}

.update h4{
    color: #000;
}


.text_h2_small{
    font-size: 2rem;
}

span {
    color: #e94e6d;
}
@media screen and (max-device-width: 500px) {
    .text_h1{
        margin-bottom: 5%;
    }

    .text_h2{
        margin-bottom: 4%;
    }
    p{
        margin-bottom: 2%;
    }
}


/*header-footer*/
.text_headfoot{
    color: #fff;
    font-size: 1.6rem;
}


/*header*/
.text_header_title{
    white-space: nowrap;
}

.text_header_title a{
    font-size: 2rem;
}


/*footer*/
.text_footer_title{
    font-size: 2.5rem;
}

/*button*/
.text_btn{
    color: #ffff;
    font-size: 1.6rem;
    font-weight: bold;
}
